div {
  height: 100vh;

  mat-card {
    max-height: 90vh;
    width: 90%;
    max-width: 600px;

    .illustration {
      max-width: 50%;
      height: auto;
      margin: 0 auto;
    }

    .full-width {
      width: 100%;
    }
  }
}

